/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  height: 3000px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #046241;
  border-radius: 4px;
  color: #046241;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #046241;
  color: #fff;
  text-decoration-line: underline;
}
.btn.btn--revers {
  background-color: #046241;
  color: #fff;
}
.btn.btn--revers:hover {
  background-color: transparent;
  color: #046241;
}
.btn.btn--brown {
  color: #633510;
  border-color: #633510;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #633510;
}
.btn.btn--gold {
  color: #966932;
  border-color: #966932;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #966932;
}
.btn.btn--black {
  color: #222;
  border-color: #222;
}
.btn.btn--black:hover {
  color: #fff;
  background-color: #222;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  text-decoration-line: underline;
  background-color: transparent;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  background-color: #f6f5f0;
  border-top: 2px solid #000;
  border-bottom: 1px solid #e5e5e5;
  top: 0;
  z-index: 9;
}
header > .inner {
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
  text-decoration-line: underline;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
  cursor: pointer;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
header .main-menu .item {
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  text-decoration-line: underline;
  cursor: pointer;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
  transition: 0.4s;
}
header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
  display: inline;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
  transition: 0.6s;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_newyear_top_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.visual .inner {
  height: 646px;
}
.visual .title {
  position: absolute;
  top: 170px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 250px;
  left: 110px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 90px;
  right: 400px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 90px;
  right: 200px;
}
.visual .cup3.image {
  position: absolute;
  bottom: 190px;
  right: -10px;
}
.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {
}
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .promotion {
  height: 0;
  background-color: #f6f5ef;
  position: relative;
  transition: height 0.4s;
  overflow: hidden;
}
.notice .promotion.show {
  height: 693px;
}
.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;

  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  opacity: 0.4;
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination,
.notice .promotion .swiper-autoplay {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #fff;
}

/* REWARDS */
.rewards {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
  display: block;
}
.rewards .inner {
  height: 170px;
  display: flex;
}
.rewards .inner .logo {
  float: left;
  width: 16.3%;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
.rewards .inner .conts {
  box-sizing: border-box;
  float: left;
  width: calc(83.7% - 80px);
  padding-right: 30px;
  color: #fff;
  letter-spacing: 0.5px;
}
.rewards .inner .conts .top-conts {
  position: relative;
  margin-bottom: 22px;
  border-bottom: 1px solid #4b615b;
}
.rewards .inner .conts .top-conts .top-info {
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: normal;
  display: block;
}
.rewards .inner .conts .top-conts .top-info h2 {
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: normal;
}
.rewards .inner .conts .top-conts .top-info p {
  line-height: 1.4;
  font-size: 17px;
}
.rewards .inner .conts .top-conts .btn-group {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 0;
  display: flex;
}
.rewards .inner .conts .top-conts .btn-group a {
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.rewards .inner .conts .top-conts .btn-group a:hover {
  text-decoration-line: underline;
}
.rewards .inner .conts .top-conts .btn-group .btn--sign {
  background-color: #00704a;
  border: 2px solid #00704a;
}
.rewards .inner .conts .top-conts .btn-group .btn--login {
  margin-left: 9px;
  background-color: transparent;
  border: 2px solid #fff;
}
/* .rewards .inner .conts .top-conts .btn-group .btn {
  width: 88px;
}
.rewards .inner .conts .top-conts .btn-group .btn:first-child {
  background-color: #046241;
  color: #fff;
  margin-right: 9px;
} */
.rewards .inner .conts .bottom-conts {
  position: relative;
  display: flex;
}
.rewards .inner .conts .bottom-conts .bottom-info {
}
.rewards .inner .conts .bottom-conts .bottom-info p {
  line-height: 1.4;
  font-size: 14px;
}
.rewards .inner .conts .bottom-conts .gift-btn {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 183px;
  height: 38px;
  line-height: 36px;
  justify-self: center;
  text-align: center;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.rewards .inner .conts .bottom-conts .gift-btn:hover {
  text-decoration-line: underline;
}
.rewards .inner .conts .bottom-conts .gift-btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  border-color: #fff;
}

/* BEAN */
.main-bean {
  background: url("https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_newyear_promotion_bg.jpg")
    center/cover no-repeat;
  height: 573px;
}
.main-bean .inner {
  height: 100%;
}

.main-bean .fade-in {
  position: absolute;
  opacity: 0;
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}
.main-bean .inner .bean-img-box {
  position: absolute;
  z-index: 1;
  top: 15.18%;
  max-width: 310px;
  width: 42.97%;
  left: -600px;
}
.main-bean .inner .bean-txt-box {
  position: absolute;
  z-index: 1;
  top: 32.8%;
  right: -600px;
  max-width: 339px;
  width: 37.63%;
}
.main-bean .inner .bean-txt-box .btn {
  margin-top: 39px;
}

/* ETHIOPIA */
.main-ethiopia {
  position: relative;
  height: 400px;
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/221220_pc_reserve_bg.png)
    no-repeat center top;
  background-size: cover;
  overflow: hidden;
  display: block;
}
.main-ethiopia .inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.main-ethiopia .inner .ethiopia-title {
  position: relative;
  z-index: 2;
  padding-top: 115px;
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.main-ethiopia .inner .ethiopia-visual {
  display: block;
  position: absolute;
  bottom: 0;
}
.main-ethiopia .inner .ethiopia-visual img {
  width: auto;
  vertical-align: top;
}
.main-ethiopia .inner .ethiopia-visual::before {
  content: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/221220_pc_reserve_left_bg.png);
  position: absolute;
  left: 50px;
  bottom: -1%;
}
.main-ethiopia .inner .ethiopia-visual::after {
  content: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/221220_pc_resserve_right_bg.png);
  position: absolute;
  right: 0;
  bottom: -1%;
}
.main-ethiopia .inner .ethiopia-btn {
  position: relative;
  z-index: 2;
  max-width: 1080px;
  margin-top: 39px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 254px;
  box-sizing: border-box;
}
.main-ethiopia .inner .ethiopia-btn .btn {
  width: 125px;
  height: 38px;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Chrismas2_PTF_bg.png)
    center center fixed no-repeat #45434c;
  background-size: auto 87%;
  height: 800px;
  padding: 0;
  position: relative;
  background-position: bottom;
}
.pick-your-favorite .inner {
  background-color: green;
  height: 100%;
}
.pick-your-favorite .inner .text-group {
}
.pick-your-favorite .inner .text-group .title {
  height: 204px;
  overflow: hidden;
  position: absolute;
  top: 120px;
  width: 258px;
  z-index: 2;
}
.pick-your-favorite .inner .text-group .description {
  height: 156px;
  position: absolute;
  top: 370px;
  width: 362px;
  z-index: 2;
}
.pick-your-favorite .inner .text-group .img {
  top: 100px;
  right: -163px;
  width: 912px;
  height: 575px;
  background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/230105_newyear_pick_img.png);
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.pick-your-favorite .inner .text-group .more {
  border: 2px solid #fff;
  border-radius: 3px;
  left: 328px;
  position: absolute;
  top: 570px;
  z-index: 7;
}
